{{ define "javascript" }}
{{ with .Params.projectFrame }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.9/iframeResizer.min.js"
        integrity="sha512-+bpyZqiNr/4QlUd6YnrAeLXzgooA1HKN5yUagHgPSMACPZgj8bkpCyZezPtDy5XbviRm4w8Z1RhfuWyoWaeCyg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    iFrameResize();
</script>
{{ end }}
{{ end }}

{{ define "main" }}
<article class="single">
    <h1 class="title">{{ .Title }}</h1>
    <div class="frontmatter">
        {{ with .Description }}<p class="lead">{{ . }}</p>{{ end }}

        <div class="properties">
            <p>
                Published on
                <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-0700" }}">{{ .Date | time.Format "Monday, 2 January 2006 at 15:04 MST" }}</time>
            </p>
        </div>

        <hr>
    </div>

    {{ .Content }}
    
    {{ with .Params.projectFrame }}
    <iframe src="{{ . }}" style="{{- with $.Params.projectFrameMinHeight }}min-height: {{ . }}; {{ end -}}width: 100%; border: none;"></iframe>
    {{ end }}

    {{ partial "gitinfo.html" . }}
</article>
{{ end }}
