{{ define "javascript" }}
{{ with .Params.projectFrame }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js"
        integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    iFrameResize();
</script>
{{ end }}
{{ end }}

{{ define "main" }}
<article class="single">
    <h1 class="title">{{ .Title }}</h1>
    <div class="frontmatter">
        {{ with .Description }}<p class="lead">{{ . }}</p>{{ end }}

        <p class="date">
            Published on
            <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-0700" }}">{{ .Date | time.Format "Monday, 2 January 2006 at 15:04 MST" }}</time>
        </p>

        <hr>
    </div>

    {{ .Content }}
    
    {{ with .Params.projectFrame }}
    <iframe src="{{ . }}" style="{{- with $.Params.projectFrameMinHeight }}min-height: {{ . }}; {{ end -}}width: 100%; border: none;"></iframe>
    {{ end }}
</article>
{{ end }}
