<!doctype html>
<html lang="en" dir="ltr">

<head>
{{ partial "head.html" . -}}
{{- block "stylesheets" . }}{{- end }}
</head>

<body>
    <nav>
        {{ partial "header.html" . }}
        {{ block "submenu" . }}{{ end }}
    </nav>

    <main>
        <div class="innerwidth">
            {{- block "main" . -}}{{- end }}
        </div>
    </main>

    {{ partial "footer.html" . }}
    {{- block "javascript" . }}{{ end -}}

    {{ if .HasShortcode "model" }}
        <script src="https://cdn.jsdelivr.net/npm/@google/model-viewer@3.5.0/dist/model-viewer.min.js"
                integrity="sha256-iSNznIwbSgLdnIz2baXCpEgjXLXknkOd17u6lEuk++E="
                type="module" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ end }}
</body>

</html>