<!doctype html>
<html lang="en" dir="ltr">

<head>
{{ partial "head.html" . -}}
{{- block "stylesheets" . }}{{- end }}
</head>

<body>
    <nav>
        {{ partial "header.html" . }}
        {{ block "submenu" . }}{{ end }}
    </nav>

    <main>
        <div class="innerwidth">
            {{- block "main" . -}}{{- end }}
        </div>
    </main>

    {{ partial "footer.html" . }}
    {{- block "javascript" . }}{{ end -}}

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f88e175d266947698b6dbfeebd525835"}'></script>
    <!-- End Cloudflare Web Analytics -->
</body>

</html>