{{ define "submenu" }}
    {{ partial "submenu.html" .Site.Menus.posts }}
{{ end }}

{{ define "main" }}
<article class="single" itemscope itemtype="http://schema.org/BlogPosting" data-pagefind-body>
    <h1 class="title" itemprop="name headline"
        data-pagefind-meta="title"
        data-section="{{ .Section | singularize | title }}"
        data-pagefind-filter="section[data-section]">
        {{ .Title }}
    </h1>
    {{ partial "frontmatter.html" . }}

    {{ .Content }}
</article>

{{ partial "seriesinfo.html" . }}
{{ partial "gitinfo.html" . }}
{{ end }}
