{{ define "submenu" }}
    {{ partial "submenu.html" .Site.Menus.posts }}
{{ end }}

{{ define "main" }}
<article class="single">
    <h1 class="title">{{ .Title }}</h1>
    <div class="frontmatter">
        {{ with .Description }}<p class="lead">{{ . }}</p>{{ end }}

        <div class="properties">
            <p>
                Published on
                <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-0700" }}">{{ .Date | time.Format "Monday, 2 January 2006 at 15:04 MST" }}</time>
            </p>

            <p>
                {{ .FuzzyWordCount }} words
                {{ with .ReadingTime }}&middot; {{ . }} min read{{ end }}
            </p>
        </div>

        <hr/>
    </div>

    {{ .Content }}

    {{ partial "gitinfo.html" . }}

    <hr style="margin: 20px 0"/>
    <script src="https://giscus.app/client.js"
        data-repo="crookm/blog"
        data-repo-id="R_kgDOHs-FjQ"
        data-category="Comments"
        data-category-id="DIC_kwDOHs-Fjc4Cb-Mw"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</article>
{{ end }}
