<footer class="endmatter">
    <div class="innerwidth">
        <hr>
        <div style="display: flex; justify-content: space-between;">
            <ul class="menu">
                <li>&copy; {{ now.Year }}</li>
                {{ range .Site.Menus.footer }}
                <li><a href="{{ .URL }}" rel="noopener me" title="{{ .Title }}">{{ .Name | lower }}</a></li>
                {{ end }}
            </ul>
            <div style="margin-top: 2px;">
                <a href="/posts/index.xml" type="application/rss+xml" title="Blog RSS feed">
                    <img src="/rss2.webp" alt="RSS feed web badge">
                </a>
            </div>
        </div>
    </div>
</footer>