<div class="innerwidth">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <ul class="menu">
            <li><strong><a href="/">{{ .Site.Title | lower }}</a></strong></li>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Name | lower }}</a></li>
            {{ end }}
        </ul>

        <ul class="menu">
            <li><a href="/search.html" title="Search">🔎</a></li>
        </ul>
    </div>
</div>

<hr />
