{{ with index (.GetTerms "series") 0 }}
    {{ $taxonomy := .Site.Taxonomies.series.Get .Title }}
    {{ range $i, $_ := $taxonomy | collections.Reverse }}
        {{ if eq .Permalink $.Permalink }}
            {{ $.Scratch.Set "index" (add $i 1) }}
        {{ end }}
    {{ end }}

    <hr style="margin: 20px 0">
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <p>
        This is the
        {{ if gt ($taxonomy | len) 1 }}
            <strong>{{ $.Scratch.Get "index" | humanize }}</strong> post of <strong>{{ $taxonomy | len }}</strong>
        {{ else }}
            <strong>only</strong> post
        {{ end }}
        in the {{ .Title }} series, with the most recent post published on <strong>{{ (index ($taxonomy | first 1) 0).Date | dateFormat "2 January 2006" }}</strong>.
    </p>

    {{ range $taxonomy.Pages.ByDate }}
        {{ if gt $.Date.Unix .Date.Unix }}
            {{ $.Scratch.Set "previous" . }}
        {{ end }}
    {{ end }}
    {{ range $taxonomy.Pages.ByDate.Reverse }}
        {{ if lt $.Date.Unix .Date.Unix }}
            {{ $.Scratch.Set "next" . }}
        {{ end }}
    {{ end }}

    <p class="clearfix">
        {{ with $.Scratch.Get "previous" }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">&larr; prev post</a>
        {{ end }}

        {{ with $.Scratch.Get "next" }}
        <a style="float:right;" href="{{ .Permalink }}" title="{{ .Title }}">next post &rarr;</a>
        {{ end }}
    </p>
{{ end }}