{{ $src := .Get "src" }}
{{ $img := resources.Get $src }}
{{ if not $img }}
  {{ $img = .Page.Resources.GetMatch $src }}
{{ end }}

{{ $imgWebpDesktop := $img.Resize "530x webp q90" }}
{{ $imgWebpMobile := $img.Resize "360x webp q75" }}
{{ $imgPngMobile := $img.Resize "360x png" }}
{{ $imgPngDefault := $img.Resize "530x png" }}

<figure class="figure">
  <a href="{{- with .Get "link" -}}{{ .Get "link" }}{{- else -}}{{ $img.RelPermalink }}{{- end -}}">
    <picture>
      <source type="{{ $imgWebpDesktop.MediaType }}" srcset="{{ $imgWebpDesktop.RelPermalink }}" media="(min-width: 530px)">
      <source type="{{ $imgWebpMobile.MediaType }}" srcset="{{ $imgWebpMobile.RelPermalink }}" media="(max-width: 380px)">
      <source type="{{ $imgPngMobile.MediaType }}" srcset="{{ $imgPngMobile.RelPermalink }}" media="(max-width: 380px)">
      
      <img src="{{ $imgPngDefault.RelPermalink }}" class="figure-img img-fluid img-thumbnail"
        {{- if or (.Get "alt") (.Get "caption") }}
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
        {{- end -}}>
    </picture>
  </a>
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
  <figcaption class="figure-caption">
    {{ with (.Get "title") -}}
      <h4>{{ . }}</h4>
    {{- end -}}
    {{- if or (.Get "caption") (.Get "attr") -}}
      <p>
      {{- .Get "caption" | markdownify }}
      {{ with .Get "attrlink" }}<a href="{{ . }}">{{- end -}}
        {{ .Get "attr" | markdownify -}}
      {{- if .Get "attrlink" }}</a>{{ end }}
      </p>
    {{- end }}
  </figcaption>
  {{- end }}
</figure>